@import "../../variables.scss";

.full-movie {
    font-family: $ff-common;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-size: cover;
    flex-grow: 1;
    position: relative;
    display: flex;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .7);
    }

    &__info {
        margin-right: 30px;
    }

    // отсебятина:
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    
    &__content {
        display: flex;
    }   

    &__title {
        font-size: 1.3rem;
        margin-bottom: 5px;
        position: relative;
        z-index: 1
    }

    &__release {
        font-size: 0.9rem;
        margin-bottom: 20px;
        position: relative;
        z-index: 1
    }

    &__img-wrapper {
        margin-bottom: 20px;
        max-width: 350px;
        width: 100%;
        margin-right: 25px;
        position: relative;
        z-index: 1
    }

    &__description {
        // width: 50%;
        position: relative;
        z-index: 1;
        line-height: 1.7;
        text-align: left;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

};
