@import '../../../variables.scss';

.button {
    font-family: $ff-common;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 0.8rem;
    background: $bg-button;
    color: white;
    border-radius: 3px;
    cursor: pointer;

    &[disabled] {
        background-image: linear-gradient(to right, #eee, #ccc);
        color: $darkgrey-color;
        cursor: not-allowed;
    }
}