@import '../../variables.scss';

.navigation {
    &__list {
        display: flex;
        flex-direction: row;
    }
    &__list-item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }
    &__link {
        &:active,
        &_active {
            color: #fff;
            text-decoration: underline;
        }
    }
}